@font-face {
  font-family: Inter;
  src: url(../fonts/Inter-Regular.ttf) format(truetype);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  src: url(../fonts/Inter-Medium.ttf) format(truetype);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  src: url(../fonts/Inter-SemiBold.ttf) format(truetype);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  src: url(../fonts/Inter-Bold.ttf) format(truetype);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Regular.ttf) format(truetype);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Medium.ttf) format(truetype);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-SemiBold.ttf) format(truetype);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Bold.ttf) format(truetype);
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.bg-color {
  background-color: #1B004E;
  color: #ffffff;
  position: relative;
}

@media screen and (min-width: 320px) and (max-width: 426px) {
  .container {
    max-width: 343px;
  }
}
.header__bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../images/bg.png);
  width: 100%;
  height: 728px;
}
.header__bg .header__bg-img {
  position: absolute;
  top: 106px;
  left: 0;
}

.header {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 109px;
}
.header .header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header__nav .header__logo {
  width: 153.58px;
  height: 40px;
}
.header .header__nav ul {
  display: flex;
  gap: 20px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
}
.header .header__nav button {
  color: #ffffff;
  background-color: unset;
  width: 152px;
  height: 47px;
  border: 2px solid #EB5757;
  border-radius: 50px;
  font-weight: 500;
  font-size: 17px;
  line-height: 17px;
}
.header .header__nav .header__hamburger {
  display: none;
}
.header .header__content {
  display: flex;
}
.header .header__content .header__text-side {
  display: flex;
  flex-direction: column;
  width: 700px;
}
.header .header__content .header__text-side h1 {
  font-weight: 700;
  font-size: 59px;
  line-height: 90px;
}
.header .header__content .header__text-side p {
  margin-top: 10px;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
}
.header .header__content .header__text-side button {
  margin-top: 32px;
  background: #EB5757;
  color: #ffffff;
  width: 191px;
  height: 47px;
  border-radius: 50px;
  border: 0;
  font-weight: 500;
  font-size: 17px;
  line-height: 17px;
}
.header .header__content .header__img {
  height: 474.32px;
}
.header .header__scroll {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .container {
    max-width: 343px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header__bg {
    background-image: none;
    height: auto;
  }
  .header__bg .header__bg-img {
    display: none;
  }
  .header {
    gap: 43px;
  }
  .header .header__nav .header__logo {
    width: 123.51px;
    height: 30px;
  }
  .header .header__nav .ul,
  .header .header__nav button {
    display: none;
  }
  .header .header__nav .header__hamburger {
    display: block;
    font-size: 30px;
    line-height: 0;
    z-index: 5000;
  }
  .header .header__nav .header__hamburger ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    z-index: 99;
    width: 100vw;
    background-color: #1B004E;
    padding: 25px 0;
    animation-name: header__hamburger;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
    animation-timing-function: ease;
  }
  .header .header__nav .header__hamburger ul .header__hamburger--li {
    color: #ffffff;
    font-size: 20px;
    margin: 0px 50px;
  }
  .header .header__nav .header__hamburger ul .header__hamburger--li:hover {
    color: #EB5757;
  }
  @keyframes header__hamburger {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  .header .header__nav .header__hamburger:hover ul {
    display: flex;
  }
  .header .header__content {
    text-align: center;
  }
  .header .header__content .header__text-side {
    align-items: center;
  }
  .header .header__content .header__text-side h1 {
    font-size: 24px;
    line-height: 32px;
  }
  .header .header__content .header__text-side p {
    font-size: 16px;
    line-height: 24px;
  }
  .header .header__content .header__text-side button {
    margin-top: 20px;
    font-size: 14px;
    line-height: 17px;
    width: 136px;
    height: 31px;
  }
  .header .header__content img {
    display: none;
  }
  .header .header__scroll {
    display: none;
  }
}
.statistics {
  font-family: "Inter", sans-serif;
  padding-top: 95px;
  padding-bottom: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.statistics h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
}
.statistics table {
  border-collapse: collapse;
  width: 100%;
}
.statistics table i {
  font-size: 8px;
}
.statistics table thead {
  text-align: center;
}
.statistics table thead tr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 25px;
  border-top: 1px solid #BDBDBD;
  border-bottom: 1px solid #BDBDBD;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  height: 43px;
}
.statistics table thead tr th {
  display: flex;
  align-items: center;
  gap: 7.5px;
}
.statistics table thead tr img {
  width: 14px;
  height: 14px;
}
.statistics table tbody {
  display: flex;
  flex-direction: column;
}
.statistics table tbody tr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 25px;
  border-top: 1px solid #BDBDBD;
  border-bottom: 1px solid #BDBDBD;
  height: 85px;
}
.statistics table tbody tr th {
  display: flex;
  align-items: center;
  gap: 7.5px;
}
.statistics table tbody tr .sta__num {
  color: #828282;
  font-weight: 400;
  font-size: 11px;
  line-height: 11px;
}
.statistics table tbody tr .sta__comp {
  width: 130px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
.statistics table tbody tr .sta__comp img {
  width: 24px;
  height: 24px;
}
.statistics table tbody tr .sta__comp span {
  color: #828282;
  font-weight: 400;
  font-size: 11px;
  line-height: 11px;
}
.statistics table tbody tr .sta__price--alone,
.statistics table tbody tr .sta__price {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}
.statistics table tbody tr .sta__price--alone span,
.statistics table tbody tr .sta__price span {
  color: #828282;
  font-weight: 400;
  font-size: 11px;
  line-height: 11px;
}
.statistics table tbody tr .sta__good {
  color: #1AFF7C;
}
.statistics table tbody tr .sta__bad {
  color: #FF1A1A;
}
.statistics table tbody tr .sta__sta {
  width: 100px;
  height: 30px;
}
.statistics table th {
  cursor: pointer;
}
.statistics table .sta__i--out {
  font-size: 15px;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .container {
    max-width: 343px;
  }
  .statistics {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .statistics .statistics__title {
    font-size: 20px;
    line-height: 24px;
  }
  .statistics table thead tr {
    height: 64px;
    padding-right: 0;
  }
  .statistics table tbody tr {
    height: 64px;
    padding-right: 0;
  }
  .statistics table .statistics__mobile,
  .statistics table .sta__price--alone,
  .statistics table .sta__bad,
  .statistics table .sta__good,
  .statistics table .sta__sta,
  .statistics table .sta__num {
    display: none !important;
  }
}
.platform {
  padding-top: 92px;
  padding-bottom: 108px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  color: #000000;
}
.platform h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #171717;
}
.platform__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.platform__card {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.platform__img1 {
  width: 60.96px;
  height: 58.37px;
}
.platform__img2 {
  width: 64.85px;
  height: 69.55px;
}
.platform__img3 {
  width: 112.22px;
  height: 69.42px;
}
.platform__content {
  display: flex;
  flex-direction: column;
  gap: 29px;
}
.platform__content h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 14px;
}
.platform__content p {
  font-weight: 400;
  font-size: 17px;
  line-height: 17px;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .container {
    max-width: 343px;
  }
  .platform {
    text-align: center;
    padding: 51px 0;
    gap: 30px;
  }
  .platform h2 {
    font-size: 20px;
    line-height: 30px;
  }
  .platform__wrapper {
    flex-direction: column;
    justify-content: unset;
    gap: 50px;
  }
  .platform__wrapper .platform__card {
    align-items: center;
  }
  .platform__wrapper .platform__card h4 {
    font-size: 18px;
    line-height: 14px;
  }
  .platform__wrapper .platform__card p {
    font-size: 14px;
    line-height: 14px;
  }
}
.download {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 110px;
  padding-bottom: 100px;
  position: relative;
}
.download__content {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}
.download__content h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
}
.download__content p {
  margin-top: 14px;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
}
.download__content div {
  margin-top: 50px;
  display: flex;
  gap: 30px;
}
.download__content div button {
  width: 159.11px;
  height: 55.29px;
  background-color: #D7C2FF;
  border-radius: 5px;
  border: 0;
  display: grid;
  padding: 5px;
  font-size: 10px;
}
.download__content div button i {
  grid-column: 1/2;
  grid-row: 1/3;
  font-size: 40px;
}
.download__content div button span {
  font-size: 20px;
  grid-column: 2/3;
  grid-row: 2/3;
}
.download__img {
  width: 456.37px;
  height: 485.19px;
  z-index: 99;
}
.download__bg-img {
  background-image: url(../../images/b.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 125px;
  right: 0;
}
.download__wrapper {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .container {
    max-width: 343px;
  }
  .download {
    padding: 50px 16px;
    flex-direction: column;
    text-align: center;
  }
  .download .download__content {
    max-width: 100%;
    align-items: center;
  }
  .download .download__content h1 {
    font-size: 20px;
    line-height: 30px;
  }
  .download .download__content p {
    margin-top: 10px;
    font-size: 14px;
    line-height: 24px;
  }
  .download .download__content div {
    display: none;
  }
  .download .download__img {
    margin-top: 30px;
    width: 202.64px;
    height: 215.43px;
  }
  .download__wrapper {
    margin-top: 29px;
    display: flex;
    gap: 20px;
  }
  .download__wrapper button {
    width: 100px;
    height: 35px;
    background-color: #D7C2FF;
    border-radius: 5px;
    border: 0;
    display: grid;
    padding: 3px;
    font-size: 7px;
  }
  .download__wrapper button i {
    grid-column: 1/2;
    grid-row: 1/3;
    font-size: 27px;
  }
  .download__wrapper button span {
    font-size: 12px;
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .download .download__bg-img {
    display: none;
  }
}
.bg-color-light {
  background: #FFF6FB;
}

.learn {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 110px;
  color: #000000;
}
.learn h2 {
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
}
.learn__wrapper {
  margin-top: 46px;
  display: flex;
  gap: 33px;
}
.learn__card {
  width: 368px;
  padding-bottom: 24px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(203, 203, 203, 0.25);
}
.learn__card img {
  width: 368px;
  height: 207px;
}
.learn__card h4 {
  padding: 0 19px;
  margin-top: 24px;
  font-size: 16px;
  line-height: 24px;
}
.learn__card p {
  padding: 0 19px;
  margin-top: 13px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #4F4F4F;
  letter-spacing: 0.03em;
}
.learn__card .learn__desc {
  padding: 0 19px;
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
  color: #616161;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .container {
    max-width: 343px;
  }
  .learn {
    padding: 35px 16px;
  }
  .learn__wrapper {
    flex-direction: column;
    gap: 36px;
  }
  .learn__card {
    max-width: 100%;
  }
  .learn__card h4 {
    padding: 0 6.5px;
  }
  .learn__card p {
    padding: 0 6.5px;
  }
  .learn__card .learn__desc {
    padding: 0 6.5px;
  }
}
.email__img-left {
  position: absolute;
  width: 207px;
  height: 333.4px;
  top: 43px;
  left: 0;
}

.email__img-right {
  position: absolute;
  width: 181.09px;
  height: 274.9px;
  top: 91px;
  right: 0;
}

.email {
  padding-top: 92px;
  padding-bottom: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.email h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
}
.email p {
  margin-top: 14px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}
.email form {
  margin-top: 50px;
  width: 578px;
  height: 74px;
  border: 2px solid #FFFFFF;
  border-radius: 37px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.email form input {
  max-width: 60%;
  margin: auto 21px;
  outline: none;
  background-color: unset;
  color: #ffffff;
  border: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}
.email form input::placeholder {
  color: #ffffff;
}
.email form button {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #ffffff;
  margin: auto 5px;
  width: 139px;
  height: 62px;
  border: 0;
  background: #EB5757;
  border-radius: 31px;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .container {
    max-width: 343px;
  }
  .email__img-left,
  .email__img-right {
    display: none;
  }
  .email {
    padding-top: 50px;
    padding-bottom: 55px;
    text-align: center;
  }
  .email h1 {
    font-size: 24px;
    line-height: 24px;
  }
  .email p {
    margin-top: 10px;
    font-size: 13.5px;
    line-height: 24px;
  }
  .email form {
    max-width: 100%;
    height: 48px;
  }
  .email form input {
    max-width: 150px;
    font-size: 12px;
    line-height: 15px;
  }
  .email form button {
    margin: auto 3.5px;
    height: 40px;
  }
}
.footer__bg-color {
  background: linear-gradient(227.07deg, #4E0062 0.43%, #220076 99.56%);
}

.footer {
  padding-top: 81px;
  padding-bottom: 58px;
  display: flex;
  flex-direction: column;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
}
.footer__card {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.footer__card h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.footer__card p {
  font-weight: 400;
  font-size: 17px;
  color: #E6E6E6;
  line-height: 140.5%;
}
.footer hr {
  margin-top: 59px;
  width: 100%;
  background-color: #BCBCBC;
  border: 1px solid #BCBCBC;
}
.footer .footer__wrapper-social {
  margin-top: 36px;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  color: #BCBCBC;
}
.footer .footer__wrapper-social p {
  font-size: 14px;
  line-height: 17px;
}
.footer .footer__wrapper-social .footer__social {
  font-size: 20px;
  display: flex;
  gap: 16px;
}
.footer .footer__wrapper-social .footer__social i {
  cursor: pointer;
  line-height: 20px;
  border-radius: 100px;
  border: 1px solid #616161;
}
.footer .footer__wrapper-social .footer__social i:hover {
  background-color: #EB5757;
  color: #ffffff;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .container {
    max-width: 343px;
  }
  .footer {
    padding-top: 28px;
    padding-bottom: 35px;
  }
  .footer__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    justify-content: space-between;
    row-gap: 30px;
  }
  .footer__card {
    gap: 20px;
  }
  .footer hr {
    margin-top: 50px;
  }
  .footer .footer__wrapper-social {
    flex-direction: column;
    align-items: center;
    gap: 26px;
  }
  .footer .footer__wrapper-social p {
    order: 2;
  }
  .footer .footer__wrapper-social .footer__social {
    order: 1;
  }
}

/*# sourceMappingURL=main.css.map */
