.download {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 110px;
    padding-bottom: 100px;
    position: relative;
    &__content {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        h1 {
            font-weight: 700;
            font-size: 32px;
            line-height: 48px;
        }
        p {
            margin-top: 14px;
            @include bg-coloc-p;
        }
        div {
            margin-top: 50px;
            display: flex;
            gap: 30px;
            button {
                width: 159.11px;
                height: 55.29px;
                background-color: #D7C2FF;
                border-radius: 5px;
                border: 0;
                display: grid;
                padding: 5px;
                font-size: 10px;
                i {
                    grid-column: 1 / 2;
                    grid-row: 1 / 3;
                    font-size: 40px;
                }
                span {
                    font-size: 20px;
                    grid-column: 2 / 3;
                    grid-row: 2 / 3;
                }
            }
        }
    }
    &__img {
        width: 456.37px;
        height: 485.19px;
        z-index: 99;
    }
    &__bg-img {
        background-image: url(../../images/b.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100px;
        height: 100px;
        position: absolute;
        top: 125px;
        right: 0;
    }
    &__wrapper {
        display: none;
    }
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
    .container {
        max-width: 343px;
    }
    .download {
        padding: 50px 16px;
        flex-direction: column;
        text-align: center;
        .download__content {
            max-width: 100%;
            align-items: center;
            h1 {
                font-size: 20px;
                line-height: 30px;
            }
            p {
                margin-top: 10px;
                font-size: 14px;
                line-height: 24px;
            }
            div {
                display: none;
            }
        }
        .download__img {
            margin-top: 30px;
            width: 202.64px;
            height: 215.43px;
        }
        &__wrapper {
            margin-top: 29px;
            display: flex;
            gap: 20px;
            button {
                width: 100px;
                height: 35px;
                background-color: #D7C2FF;
                border-radius: 5px;
                border: 0;
                display: grid;
                padding: 3px;
                font-size: 7px;
                i {
                    grid-column: 1 / 2;
                    grid-row: 1 / 3;
                    font-size: 27px;
                }
                span {
                    font-size: 12px;
                    grid-column: 2 / 3;
                    grid-row: 2 / 3;
                }
            }
        }
        .download__bg-img {
            display: none;
        }
    }
}