.email__img-left {
    position: absolute;
    width: 207px;
    height: 333.4px;
    top: 43px;
    left: 0;
}

.email__img-right {
    position: absolute;
    width: 181.09px;
    height: 274.9px;
    top: 91px;
    right: 0;
}

.email {
    padding-top: 92px;
    padding-bottom: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        font-weight: 700;
        font-size: 50px;
        line-height: 50px;
    }
    p {
        margin-top: 14px;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
    }
    form {
        margin-top: 50px;
        width: 578px;
        height: 74px;
        border: 2px solid #FFFFFF;
        border-radius: 37px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        input {
            max-width: 60%;
            margin: auto 21px;
            outline: none;
            background-color: unset;
            color: $bgColor-text-color;
            border: none;
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
        }
        input::placeholder {
            color: $bgColor-text-color;
        }
        button {
            font-weight: 500;
            font-size: 17px;
            line-height: 24px;
            color: $bgColor-text-color;
            margin: auto 5px;
            width: 139px;
            height: 62px;
            border: 0;
            background: $button-color;
            border-radius: 31px;
        }
    }
}

@media screen and (min-width:320px) and (max-width:1024px) {
    .container {
        max-width: 343px;
    }
    .email__img-left,
    .email__img-right {
        display: none;
    }
    .email {
        padding-top: 50px;
        padding-bottom: 55px;
        text-align: center;
        h1 {
            font-size: 24px;
            line-height: 24px;
        }
        p {
            margin-top: 10px;
            font-size: 13.5px;
            line-height: 24px;
        }
        form {
            max-width: 100%;
            height: 48px;
            input {
                max-width: 150px;
                font-size: 12px;
                line-height: 15px;
            }
            button {
                margin: auto 3.5px;
                height: 40px;
            }
        }
    }
}